.input {
	width: 100%;
	border: none;
	outline: none;
	padding: 18px 25px;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	font-size: 12px;
	font-family: "Josefin Sans", sans-serif;
	margin-bottom: 16px;
	color: var(--gray-900);
	background-color: var(--accent);
	&::placeholder {
		color: var(--gray-800);
	}
}
