.todo {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid var(--gray-100);
	padding: 0 20px;
	background-color: var(--accent);
	&__status {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		width: 20px;
		margin-right: 12px;
		border-radius: 100%;
		border: 1px solid var(--gray-100);
		cursor: pointer;
		img {
			display: none;
		}
	}
	&__text {
		color: var(--gray-900);
		font-size: 12px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 85%;
	}
	&__clear {
		height: 12px;
		position: absolute;
		right: 20px;
		cursor: pointer;
	}
	&.completed {
		.todo {
			&__status {
				border: none;
				background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
				img {
					display: block;
				}
			}
			&__text {
				text-decoration: line-through;
				color: var(--gray-200);
			}
		}
	}
}
