.todos {
	overflow: hidden;
	background-color: var(--accent);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	margin-bottom: 15px;
	&__wrapper {
		position: relative;
		max-width: 540px;
		margin: 0 auto;
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		padding: 0 20px;
		.filter {
			display: none;
			box-shadow: none;
			background-color: unset;
		}
		span {
			font-size: 12px;
			color: var(--gray-800);
			&.hidden {
				opacity: 0;
			}
		}
		& > * {
			width: 100%;
		}
	}
}
